@font-face {
    font-family: Inter;
    src: url(./font/InterVariable-s.p.494bb210.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: Inter;
    background-color: #08090a;
}

.image-container {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.image-container img {
    object-fit: cover;
    width: 100%;
}

nav .nav-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 20px auto;
}

.nav-container .logo img {
    width: 100px;
}

.nav-container .nav-links a {
    text-decoration: none;
    font-size: 16px;
    margin-right: 20px;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
}

.nav-container .nav-buttons button {
    width: 110px;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    border: none;
    background-color: #fff;
    border-radius: 25px;
    cursor: pointer;
}

main {
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    color: #fff;
    margin-top: 100px;
    font-size: 60px;
    text-align: center;
}

main p {
    color: #fff;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}

main .btn-input {
    margin-top: 30px;
    border: 2px solid #fff;
    border-radius: 25px;
    background-color: #fff;
    width: 390px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main .btn-input input {
    border: #fff;
    width: 270px;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
}

main .btn-input input:focus {
    outline: none;
    border: none;
}

main .btn-input button {
    border: none;
    width: 90px;
    height: 40px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
}

main img {
    margin-top: 100px;
    border-radius: 20px;
}

.trusted-partners {
    width: 70%;
    margin: 20px auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
}

.trusted-partners img {
    width: 100px;
}

.trusted-partners .img-6 {
    width: 30px;
    height: auto;
}

.features {
    width: 70%;
    margin: 20px auto;
    margin-top: 150px;
}

.features .feature-text h2 {
    color: #fff;
    font-size: 38px;
    font-weight: 600;
    text-align: center;
}

.features .feature-text p {
    color: #8f8f8f;
    text-align: center;
    margin-top: 20px;
    line-height: 24px;
}

.features-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.features-cards .card {
    border: 1px solid rgb(42, 42, 42);
    color: #fff;
    border-radius: 15px;
}

.features-cards .card .sm-heading {
    color: #18e299;
    font-size: 12px;
    margin: 10px 20px;
}

.features-cards .card h3 {
    margin: 10px 20px;
    font-size: 24px;
    font-weight: 500;
}

.features-cards .card p {
    margin: 10px 20px;
    line-height: 24px;
    font-weight: 400;
    color: #8f8f8f;
}

.features-cards .card img {
    width: 500px;
}

.features-cards .card-3 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.features-cards .card-3 .sm-heading {
    text-align: center;
}

.features-cards .card-3 h3 {
    text-align: center;
}

.features-cards .card-3 p {
    text-align: center;
}

.features-cards .card-3 img {
    width: 1000px;
}

.cta-section {
    width: 70%;
    margin: 20px auto;
    margin-top: 100px;
    color: #fff;
}

.cta-section .cta-text h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}

.cta-section .cta-text p {
    margin-top: 20px;
    text-align: center;
}

.cta-section .cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 10px;
}

.cta-section .cta-button button {
    height: 40px;
    width: 170px;
    font-size: 16px;
    font-weight: 500;
    background-color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.cta-section .cta-button button:hover {
    background-color: #e1e1e1;
}

.cta-section .cta-button .demo-btn {
    color: #fff;
    background-color: #08090a;
    border: 1px solid #545353;
    width: 130px;
}

.cta-section .cta-button .demo-btn:hover {
    background-color: #1b1b1b;
    border: none;
}

footer {
    width: 70%;
    margin: 0px auto;
    color: #fff;
}

.full-footer {
    display: grid;
    grid-template-rows: 1fr 2fr 0.5fr;
}

.full-footer .top-footer {
    display: flex;
    align-items: flex-end;
    padding: 20px;
    border: 1px solid rgb(59, 59, 59);
    height: 120px;

}

.full-footer .top-footer img {
    width: 100px;
}

.full-footer .middle-footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: 1px solid rgb(59, 59, 59);
    align-items: start;
}

.full-footer .middle-footer .column {
    /* border: 1px solid rgb(59, 59, 59); */
    justify-self: center;
}

.full-footer .middle-footer p {
    color: #545353;
    margin-top: 20px;
}

.full-footer .middle-footer ul {
    justify-content: center;
    margin-top: 20px;
    list-style-type: none;
    line-height: 30px;
}

.full-footer .bottom-footer {
    border: 1px solid rgb(59, 59, 59);
}

.full-footer .bottom-footer p{
    padding: 20px;
    margin-top: 20px;
}